/*color link
https://coolors.co/e2d5b3-90b494-ffffff-000000-c0afa0*/

/*navbar css*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #A9927D;
  margin: 0px;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #8B7867;
}
.active {
  background-color: #DCCCA3;
  font-weight: bold;
}
.right {
	float: right;
}

/*Content css*/

body{
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	background-color: #C0AFA0;
}

.Title{
	background-color: #DCCCA3;
	border-radius: 10.5px;
	padding: 10px;
}
h1,h2{
	text-align: center;
}


.player, .stats{
	padding-bottom: 10px;
	background-color: #E2D5B3;
	border-radius: 10.5px;
	/*margin-top: 20px;*/
	margin-bottom: 20px
	margin-right: 0;
}



.container {
	text-align: center;
	display: flex;
}

.box1, .box2, .box3{

	height:100%;
	width:100%;
	border-radius: 10.5px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.box1> div, .box3 > div{
	 padding-bottom: 10px;
}
.box1, .box3{
	background-color: #DCCCA3;
}



/*button Styles*/
button{
	font-size: x-large;
	border-radius: 10.5px;
}
button:focus{
	background-color: #90B494;
	outline: 0;
	border-radius: 10.5px;
}

/*input styling*/

input {
  max-width: 30%;
  height: auto;
  background-color: white;
  border-radius: 10.5px;
  padding: 10px;	
}

/*results styling*/

#player1Result, #player2Result{
	border-radius: 10.5px;
	padding-top: 5%; 
	padding-bottom: 5%;

}


.result_header{
	margin-bottom: 0px;
}

h3{
	margin-top: 0px;

}
#results{
	min-height: 200px;
}
.players{
	padding: 10px;
	position: relative;
	flex-grow:1;

}
/*Score styling*/
.score{
	font-size: x-large;
}
/*Playerbtn styling*/
.playerbtn{
	margin-top: 20px;
	text-align: center;
}
#computer{
	font-size: x-large;
	display: inline-block;
	margin-left: 20px;
	padding-left: 1px;
}
