/*navbar css*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  margin: 0px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.active {
  background-color: #4CAF50;
}
.right {
	float: right;
}

/*Content css*/

body{
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
}


h1,h2{
	text-align: center;
}


.player, .stats{
	padding-bottom: 10px;
	background-color: grey;
	border-radius: 10.5px;
	margin-top: 20px;
	margin-bottom: 20px
	margin-right: 0;
}
.container{
	text-align: center;
	display: flex;

}
.box1, .box2, .box3{
	height:100%;
	width:100%;
}



/*Button Styles*/
button{
	font-size: x-large;
	border-radius: 10.5px;
}
button:focus{
	background-color: green;
	outline: 0;
	border-radius: 10.5px;
}

/*image styling*/
img {
  max-width: 40%;
  height: auto;
  padding-top: 10px;
}

